<form action="{{ path('search_date') }}" method="get"  class="m-1"> 
        <label for="date" class="nv-label"><h6>Date</h6></label>
        <input class="form-control" type="date" id="date" name="_date">
       
        <button type="submit" class="btn btn-outline-dark mt-2">search</button>
</form>